
 <header class="masthead" style="background-image:url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
 background-size:cover;
 height:700px;
 ">
            <div class="container"  style="
            padding-left:400px;
            padding-top:200px
 ">
                <div class="masthead-subheading"style="
            font-size:36px;
 ">Welcome To Our Studio!</div>
                <div class="masthead-heading text-uppercase" style="
                 padding-left:50px;
            font-size:24px;
 ">It's Nice To Meet You</div>
            </div>
        </header>

